//------------------------------------------------------
// LAYOUT
//------------------------------------------------------

main {
	background: #fff;
}
article {
	@include container(800px);
	padding: 100px 0;
	margin-top: $spacing;
	//@include span(8 of 12); 
}
aside {
	//@include span(4 of 12);
}

nav {
	font-size: 2rem;
	margin-top: 20px;
	a {
		display: block;
	}
}
nav a.active {
	color: darken($color-primary,15%);
}
h2.pattern {
	border-bottom: 1px solid darken($color-primary,15%);
	margin-bottom: 20px;
}