//------------------------------------------------------
// NAVIGATION
//------------------------------------------------------

.navigation {
	font-family: "Open sans";
	text-transform: uppercase;
	float: left;
	margin-top: 10px;
	display: block;
	font-weight: 600;
	width: 100%;
	@include breakpoint(large) {
		width: 70%;
		text-align: right;
		margin-top: 1px;
	}
	&__item {
		padding: 10px 0;
		border-bottom: 1px solid $color-gray;
		@include breakpoint(large) {
			display: inline-block;
			padding-right: 30px;
			border-bottom: 0;
		}
		font-size: 1rem;
	}
	&__item--search {
		@include breakpoint(large) {
			padding-left: 30px;
			border-left: 1px solid $color-gray;
		}
	}
	&__item--english {
		font-size: .7rem;
		background: $text-color;
		padding: 5px;
		border-radius: 20px;
		width: 18px;
		height: 18px;
		text-align: center;
		top: -4px;
		@include breakpoint(large) {
			position: relative;
		}
		a, a:hover {
			color: #fff;
		}
	}
}