//------------------------------------------------------
// Colors
//------------------------------------------------------

$color-primary    : seagreen;
$color-secondary  : blue;
$color-black      : #000;
$color-white      : #fff;
$color-gray       : #333;
$text-color		    : $color-gray;

//------------------------------------------------------
// Spacing
//------------------------------------------------------

$spacing        : 20px;
$spacing-small  : 10px;
$spacing-medium : 30px;
$spacing-large  : 50px;

//------------------------------------------------------
// Breakpoints and grid
//------------------------------------------------------

$breakpoints: (
  small: 480px,
  medium: 720px,
  large: 960px,
  wide: 1200px
);

$susy: (
  columns: 12,
  gutters: $spacing/70px,
  output: float,
  gutter-position: split,
  //debug: (image: show),
  column-width: 70px,
  global-box-sizing: border
);


//------------------------------------------------------
// Typograhpy
//------------------------------------------------------

$font-sans		: 'Montserrat','Helvetica',sans-serif;
$font-serif	  : 'Merriweather','Georgia', serif;
