
////
/// @author Netlife Research
////

/*------------------------------------------------------*/
// SASS
/*------------------------------------------------------*/
// Vendors
/*------------------------------------------------------*/

@import "../bower_components/susy/sass/susy";
@import "../bower_components/normalize-css/normalize";

/*------------------------------------------------------*/
// Settings
//------------------------------------------------------

@import "mixins";
@import "settings";

//------------------------------------------------------
// Modules
//------------------------------------------------------

@import "typography";
@import "layout";
@import "navigation";
@import "roundImage";
    
//------------------------------------------------------
// REMOVE WHEN PRODUCTION
//------------------------------------------------------

/// The breakpoints used

.breakpoints {
    background-color: rgba(0,0,0, 0.6);
    color: #fff;
    z-index: 999;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 4px 6px 2px 6px;
    font-size: 14px;
    &:before { content: 'Null'}
    @include breakpoint(small) { &:before { content: 'Small'} }
	@include breakpoint(medium) { &:before { content: 'Medium'} }
    @include breakpoint(large) { &:before { content: 'Large'} }
    @include breakpoint(wide) { &:before { content: 'Wide'} }
}