# Gitignore
# ----------------------------------------------------------------------
.DS_Store
Thumbs.db
.cache
.project
.settings
*.sublime-workspace
*.sublime-project
*.komodoproject
.komodotools
_notes
dwsync.xml
logs/*
node_modules
npm-debug.log